<div class="flex flex-col gap-y-3">
	<app-content-title title="contact"></app-content-title>

	<div class="flex flex-col gap-y-4">
		<app-contact-icon
			[icon]="linkedinIcon"
			link="https://www.linkedin.com/in/jeremy-gregoire"
			[label]="'jeremy - gregoire' | arrobase : true"
		></app-contact-icon>

		<app-contact-icon
			[icon]="githubIcon"
			link="https://github.com/jeyofdev"
			[label]="'jeyofdev' | arrobase : true"
		></app-contact-icon>

		<app-contact-icon
			[icon]="earthEuropeIcon"
			link="https://jeremy-gregoire.netlify.app/"
			[label]="'Portfolio' | arrobase"
		></app-contact-icon>
	</div>
</div>
