<app-layout-global>
	<h3 class="text-black text-3xl font-bold text-center w-full px-3">
		Hello 👋
	</h3>

	<div class="w-full mt-4 rounded-b-2xl overflow-hidden">
		<img src="assets/images/profil.jpg" alt="profil" />
	</div>

	<div class="flex flex-col items-center gap-y-4 w-[90%] bg-white px-3 py-5">
		<h1 class="text-3xl text-black leading-[20px] tracking-[0.03rem] font-bold">
			Jérémy Grégoire
		</h1>
		<h5
			class="text-xl text-gray-400 leading-[20px] tracking-[0.03rem] font-bold"
		>
			Développeur Fullstack
		</h5>
	</div>
</app-layout-global>
